Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      LaunchTemplate:
        LaunchTemplateSpecification:
          LaunchTemplateName: !Sub "${AWS::StackName}-template"
          Version: !GetAtt AWSEBAutoScalingLaunchTemplate.LatestVersionNumber
      MinSize: 1
      MaxSize: 1

option_settings:
  aws:elasticbeanstalk:environment:LaunchTemplate:
    RootVolumeType: gp3